<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.myapp.dao.ContentDAO">
	<insert id="contentInsert">
		insert into content(kind, title, madeby, detail, userid)
		values(#{kind}, #{title}, #{madeby}, #{detail}, #{userid})
	</insert>
	
	<select id="contentList" resultType="com.campus.myapp.vo.ContentVO">
		select contentno, kind, title, totalrating
		from content
		order by contentno desc
	</select>
	
	<select id="contentSelect" resultType="com.campus.myapp.vo.ContentVO">
		select contentno, kind, title, madeby, totalrating, detail
		from content where contentno=#{param1}
	</select>
	
	<select id="movieList" resultType="com.campus.myapp.vo.ContentVO">
		select contentno, kind, title, totalrating
		from content
		where kind="영화"
		order by totalrating desc, contentno desc
	</select>
	
	<select id="contentsSelect" resultType="com.campus.myapp.vo.ContentVO">
		select contentno, kind, title, madeby, totalrating, detail
		from content where contentno=#{param1}
	</select>
	
	<select id="myList" resultType="com.campus.myapp.vo.ContentVO">
		select c.contentno, c.kind, c.title, c.totalrating, r.myrating, r.userid
		from content as c
		join rating as r
		on c.contentno = r.contentno
		order by totalrating desc, contentno desc
	</select>
	
	
</mapper>